*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.App {
   text-align: center;
   min-height: 100vh;
   
   background-image: url('./assets/space-background.jpg');
   background-attachment: fixed;
   background-size: 120%;
   animation: movimientoBack 30s linear infinite alternate;

}

@keyframes movimientoBack{
   from{
      background-position: bottom left;
   }
   to{
      background-position: top right;
   }
}