.formWrapper{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;   
  user-select: none;
}

.form{
  display: grid;
  justify-content: center;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  height: 550px;
  width: 400px;
  margin: 0 auto;
  padding: 30px 0;
  background-color: hsla(265, 59%, 57%, 0.768);
  border-radius: 20px;
  border: 2px solid rgb(200,200,200);
  z-index: 3;
  
}

.form img{
  width: 150px;
  margin: 0 auto;
  filter: drop-shadow(2px 4px 10px rgb(109, 236, 98))
}

.form input{
  width: 250px;
  height: 30px;
  margin: 10px auto;
  border-radius: 5px;
  border: 2px solid rgb(200,200,200);
  padding: 0 10px;
}
.form input:focus{
  outline: none;
} 
.form input:focus {
  border: 2px solid rgb(0, 255, 76);;
}

.form button{
  position: relative;
  margin: 10px auto;
  width: 250px;
  height: 30px;
  border: none;
  background-color: rgb(10,10,10);
  border-radius: 25px;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  z-index: 3;
  overflow: hidden;
  transition: all .7s ease;
 
}
.form button:hover{
  color: #222;
  font-weight: bold;
  cursor: pointer;

}
.form button::before{
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  z-index: -1;
  position: absolute;
  background-color: (0, 255, 76);
  transition:all .7s ease;
  
}

.form button:hover::before{
  right: 0;
  background-color: rgb(0, 255, 76);
  border-radius: 25px;
}

.form .warning {
  border: 2px solid red;
}

.danger {
  margin-top: -9px;
  font-size: 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: none;
  text-align: center;
}

.form p{
  width: 300px;
}
