.Cards{
    height: 100vh;
    width: 100%;
    background-image: url('../public/img/space-background.jpg');
    background-attachment: fixed;
    background-size: 200%;
    animation: movimiento 10s;
}

@keyframes movimineto{
    from{
        background-position: bottom right;
    }
    to{
        background-position: top left;
    }
}