.navContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 20px;
  height: 70px;
  margin: 0 20px;
  border-radius: 10px;
  background-color: rgba(0, 255, 76, .7);
  z-index: 50;
  user-select: none;
}

.button{
  height: 35px;
  padding: 0 8px 1px;
  margin-left: 90px;
  border: none;
  border-radius: 25px;
  background-color: #000;
  color: #fff;
  letter-spacing:1px;
  transition: .4s ease-in-out;
}
.button:hover{
  background-color: rgba(135, 81, 210, .8);
  color: #fff;
  text-shadow: .7px .7px 3px #222;
  cursor: pointer;
}

.logo{
  height: 60px;
  border-radius: 7px;
  margin:4px 30px 0;
}
.menu{
  display: flex;
  
}

.menu li{
  list-style: none;

}

.menu .logout{
  color: #fff;
}

.menu li span{
  margin-right: 20px;
  gap: 10%;
  padding: 0 5px 3px;
  border: 2px solid transparent;
  font-weight: bold;
  font-size: 1.2rem; 
  transition: .5s ease-out;
  cursor: pointer;
}

.menu li span:hover{
  color: rgb(228, 175, 77);
  background-color: rgb(37, 37, 37);
  border-radius: 5px;
  
}

.active{
  list-style: none;
  color: rgb(228, 175, 77);
  text-shadow: 1px 1px 3px black;

}

.disable{
  text-decoration: none;
  list-style: none;
  color: #fff;
}

